In [1]:
# https://www.ptsd.va.gov/understand_tx/meds_for_ptsd.asp

In [176]:
import sdv
import pandas as pd
from random import sample, choice, randint
import random
import uuid
import numpy as np
import torch
from tqdm.auto import tqdm
from transformers import AutoTokenizer, AutoModel  
from scipy.spatial import distance

# Get ICD and prescription tables

In [177]:
icd = pd.read_csv("../mimic-iv-demo/hosp/d_icd_diagnoses.csv")
prescritpton = pd.read_csv("../mimic-iv-demo/hosp/prescriptions.csv")

# Create Population Table

size between 200-300,  ages are chosen randomly between of 22 and 88

In [178]:
## Personal demographics table

random.seed(9)

person = [{"person_id":randint(0,9999999999),"age":randint(22,88)} for y in range(0, 300)]

person_df = pd.DataFrame(person)
bins = [22,33, 44,55, 66,77,88]
labels = ["'22-33'","'33-44'","'44-55'","'55-66'","'66-77'","'77-88'"]

person_df['age_bracket'] = pd.cut(person_df['age'], bins=bins, labels=labels)
person_df['age_bracket'] = person_df['age_bracket'].astype(str)

print("POPULATION SIZE: ",len(person), "\nSAMPLE: ") 
print(person_df.head(n=5))

POPULATION SIZE:  300
SAMPLE:
    person_id  age age_bracket
0  5898329840   39     '33-44'
1  2906162014   65     '55-66'
2  6454399878   32     '22-33'
3  3006899318   70     '66-77'
4  9317563040   79     '77-88'

This data defines the VASRD codes and medication. Since medicaton and VA Disability benefits are

In [179]:
vasrd = {
    "9412": "Panic disorder and/or agoraphobia",
    "9411": "Posttraumatic stress disorder",
    "6602": "Asthma"
}

medication_ptsd = [
    "Sertraline",
    "Paroxetine"
]

medication_panic = [
    "FLUoxetine",
    "Sertraline",
    "Lorazepam"
]

medication_asthma = [
    "PredniSONE",
    "Salmeterol Xinafoate Diskus (50 mcg)",
    "Albuterol 0.083% Neb Soln",
    "Fluticasone Propionate NASAL"
]

In [180]:
random.seed(4)
benefits_dim = [{"benefit_id":randint(0,9999999999),"vasrd":vasrd_row, "vasrd desc": vasrd[vasrd_row]} for vasrd_row in vasrd]
benefits_dim = pd.DataFrame(benefits_dim)
benefits_dim

   benefit_id vasrd                         vasrd desc
0  5308786135  9412  Panic disorder and/or agoraphobia
1  9033029319  9411      Posttraumatic stress disorder
2  5996024489  6602                             Asthma

In [181]:
random.seed(3)
drug_list = list(set(prescritpton["drug"].str.lower().tolist()))
medication_dim = [{"drug_id":random.randint(0,9999999999),"drug":drug} for drug in drug_list]
medication_dim = pd.DataFrame(medication_dim)
medication_dim

        drug_id                      drug
0    9611984893      cefpodoxime proxetil
1    2337446730  albumin 5% (25g / 500ml)
2    6888784125      acetazolamide sodium
3    8871378905                  baclofen
4    7891869609  chlorpheniramine maleate
..          ...                       ...
599  5682947920         magnesium sulfate
600  9956284806       doxycycline hyclate
601  8315705722           magnesium oxide
602  7882235805     0.83% sodium chloride
603  8489940408              levofloxacin

[604 rows x 2 columns]

In [182]:
random.seed(5)
icd_list = icd["icd_code"].tolist()
diagnosis_dim = [{"diagnosis_id":randint(0,9999999999),"icd_code":icd_code} for icd_code in icd_list]
diagnosis_dim = pd.DataFrame(diagnosis_dim)
diagnosis_dim

        diagnosis_id icd_code
0         6970309701     0090
1         7480918169    01160
2         4051686260    01186
3         2787324501    01200
4         3869338171    01236
...              ...      ...
109770    3506338458      Z88
109771    1071824235   Z89012
109772    4009172070   Z90410
109773    2624060216     Z948
109774    6784491584      Z96

[109775 rows x 2 columns]

In [183]:
random.seed(6)

n = 4
print("3/",n," of the population has a VA Disability rating")
segment = int(len(person_df["person_id"]) - (len(person_df["person_id"])/n))

benefits_id_list = benefits_dim["benefit_id"].to_list()

benefits_table = [{"person_id": person_id, "benefit_id":benefits_id_list[choice(range(0,len(benefits_id_list)))]} for person_id in person_df["person_id"][0:segment]]
benefits_table = benefits_table + [{"person_id": person_id, "benefit_id":"None"} for person_id in person_df["person_id"][segment:]]
benefits_table = pd.DataFrame(benefits_table)
benefits_table.head(n=10)

3/ 4  of the population has a VA Disability rating

    person_id  benefit_id
0  5898329840  5996024489
1  2906162014  5308786135
2  6454399878  9033029319
3  3006899318  9033029319
4  9317563040  5308786135
5  1814995991  5308786135
6  1022254636  5308786135
7  9158698095  5996024489
8  1250600339  5996024489
9  5196438545  9033029319

## Randomly sample the segmented population

The number of benefits to assign is chosen randomly. The population to be addigned medication is randomly sampled from the population with the correlated VA Disability rating. the medication is also chosen at random from the identified list of medicaitons. The rest of the population is sampled and assigned a random medication from the `prescription` table.

In [184]:
random.seed(7)

list_of_panic_population = [choice(benefits_table.loc[benefits_table["benefit_id"] == benefits_dim["benefit_id"].to_list()[0]]["person_id"].tolist()) for x in range(0, randint(40,60))]
list_of_ptsd_population = [choice(benefits_table.loc[benefits_table["benefit_id"] == benefits_dim["benefit_id"].to_list()[1]]["person_id"].tolist()) for x in range(0, randint(20,50))]
list_of_asthma_population = [choice(benefits_table.loc[benefits_table["benefit_id"] == benefits_dim["benefit_id"].to_list()[2]]["person_id"].tolist()) for x in range(0, randint(50,60))]
list_of_none_population = [choice(benefits_table.loc[benefits_table["benefit_id"] == "None"]["person_id"].tolist()) for x in range(0, randint(20,50))]

In [185]:
random.seed(8)

medication = [{"person_id":person_id, "drug_id":medication_dim.loc[medication_dim["drug"] == medication_ptsd[choice(range(0,len(medication_ptsd)))].lower()]["drug_id"].values[0]} for person_id in list_of_ptsd_population]+\
[{"person_id":person_id, "drug_id":medication_dim.loc[medication_dim["drug"] == medication_panic[choice(range(0,len(medication_panic)))].lower()]["drug_id"].values[0]} for person_id in list_of_panic_population]+\
[{"person_id":person_id, "drug_id":medication_dim.loc[medication_dim["drug"] == medication_asthma[choice(range(0,len(medication_asthma)))].lower()]["drug_id"].values[0]} for person_id in list_of_asthma_population]+\
[{"person_id":person_id, "drug_id":medication_dim.loc[choice(range(0,len(medication_dim)))]["drug_id"]} for person_id in list_of_none_population]

medication_df = pd.DataFrame(medication)

with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print(medication_df)

      person_id     drug_id
0    7203296599  5016170936
1    9844394925  4878949115
2    2882940332  4878949115
3    1586389040  5016170936
4    7404235780  5016170936
5    3524766129  5016170936
6    3338789861  5016170936
7     475050657  5016170936
8    2879345340  5016170936
9    7562317188  5016170936
10   5622189500  4878949115
11   1727308309  5016170936
12   1990296459  4878949115
13   5146124388  4878949115
14   4593520508  4878949115
15   3437173300  4878949115
16   8993275381  4878949115
17   1608139723  5016170936
18   3213880348  4878949115
19   5466667634  5016170936
20   5790571337  4878949115
21   7404235780  5016170936
22   5628259747  5016170936
23   3816180335  4878949115
24   9355053022  4878949115
25   1395967689  4878949115
26   2882940332  4878949115
27   1395967689  5016170936
28   4404021194  4878949115
29   3524766129  5016170936
30   9355053022  5016170936
31   2828729447  4878949115
32   8993275381  4878949115
33   9495272472  5016170936
34   3095391157  5016170936
35   1159314334  4878949115
36   9952046542  5016170936
37   9032614455  5016170936
38    342660360  5016170936
39   6430985973   193603435
40   2932527764   193603435
41   4140639498  9354059388
42   1022254636   193603435
43    597613882  9354059388
44   7072567174   193603435
45    392952827  9354059388
46   7495361083   193603435
47   3182812161  9354059388
48   8808303468  5016170936
49   1022254636   193603435
50   6909131097  9354059388
51   9497174874  9354059388
52   9861289325   193603435
53   1814995991  5016170936
54    358645241   193603435
55   8155738686   193603435
56   7730813493  5016170936
57    597613882  5016170936
58   2271340675   193603435
59    358645241  5016170936
60   9291297146  5016170936
61   8155738686  9354059388
62   1022254636  9354059388
63   7072567174   193603435
64   4335555069  9354059388
65   7324930424   193603435
66    342660360   193603435
67   9202055768  5016170936
68   8103237860   193603435
69   8103237860  5016170936
70   8808303468   193603435
71    342660360  5016170936
72   1022254636   193603435
73   4335555069   193603435
74   8808303468  9354059388
75   2932527764  5016170936
76   1022254636  9354059388
77   3583382254  5016170936
78   9202055768   193603435
79   1814995991  5016170936
80   9291297146   193603435
81   8642792845   193603435
82   4676431525  9354059388
83   3761744491   193603435
84   7730813493   193603435
85   6430985973   193603435
86    392952827  9354059388
87   7324930424  5016170936
88   5542873217  3778150838
89   3942269422  4918823640
90     55895616  6853142205
91    809868117  6853142205
92   3447765096  3778150838
93    253936514  6853142205
94   3942269422  4918823640
95   1709976056  9402411491
96   8774750208  6853142205
97   7494530594  9402411491
98   8399713757  6853142205
99   4421528247  9402411491
100   809868117  3778150838
101  2021199076  9402411491
102  3318950078  4918823640
103  7044627253  3778150838
104  7712237639  4918823640
105  9438950367  3778150838
106  9284601405  3778150838
107  5865071595  6853142205
108  1014270134  4918823640
109  8315966365  4918823640
110  9284601405  9402411491
111  4527639444  6853142205
112  8246229370  3778150838
113  8399713757  9402411491
114  5521368156  3778150838
115  4126181807  3778150838
116   996674452  9402411491
117  2021199076  9402411491
118  1250600339  9402411491
119    64803551  9402411491
120  2157570114  4918823640
121    55895616  4918823640
122  9100453985  6853142205
123  5247186912  4918823640
124  7044627253  4918823640
125  4527639444  4918823640
126  5287556940  4918823640
127  4126181807  6853142205
128  1934615761  3778150838
129  4618440575  9402411491
130  2484924336  3778150838
131  2484924336  4918823640
132  7044627253  3778150838
133  2953707623  4918823640
134    55895616  3778150838
135  5521368156  6853142205
136  1947567566  9402411491
137  8907425900  4918823640
138  6181556690  6853142205
139  9692024222  1141663129
140  4558814187  6856804404
141  7007049708  8235065584
142   822284304  8871378905
143   963606350  2241966173
144   616801521  7962360448
145  8611050074  6650458215
146  3826172057  1223882989
147  5182150763  7239047280
148  9115917603  3624708685
149  8664497339  9048395283
150  5182150763  6219211509
151  3826172057  8373485835
152  3826172057  5480306570
153  9667002665   847541671
154  9101729733  9394787149
155  2617256198  1548208390
156  7199189070  5732930665
157  3045582613  1352514057
158   413842541  9651791191
159  4971392309  6596371343
160   963606350  2005440572
161  3682049374  3508175876
162  2487951083  8159041309
163  8331543038  7585070282
164   879653499  4987941775
165  8618127902  7999610960
166  9846832407   174212221
167  2990678524  9367879763
168  5098184641   519344550
169  7495205054  4697910961
170  9201553449  6738242381
171  9201553449  2768350245
172  6583854309  4452188842
173  9201553449  7957259939
174  5309651101  6168523688
175  9696434790  8022049883
176  6583854309  4394287386
177  9240427653  6916903642
178  4846632831  1233957443
179  3228593793  3201031681
180  4933990464  3967926160
181  4903363304  1110777454
182  3613615876  7891869609
183   463022462  6807841460
184  7142259774  6343142260
185  2990678524  6042938716
186  5309651101  3600401468

# ICD disease table

In [186]:
icd_panic = [
    {"icd_code":"F400"},
    {"icd_code":"F4001"},
    {"icd_code":"F4000"},
    {"icd_code":"F4002"}
]
icd_ptsd = [
    {"icd_code":"F431"},
    {"icd_code":"F4312"},
    {"icd_code":"F4310"},
    {"icd_code":"F4311"}
]
icd_asthma = [
    {"icd_code":"J4599"},
    {"icd_code":"J45901"},
    {"icd_code":"J4590"},
    {"icd_code":"J45998"}
]

In [187]:
random.seed(2)

list_of_panic_population = [choice(benefits_table.loc[benefits_table["benefit_id"] == benefits_dim["benefit_id"].to_list()[0]]["person_id"].tolist()) for x in range(0, randint(40,60))]
list_of_ptsd_population = [choice(benefits_table.loc[benefits_table["benefit_id"] == benefits_dim["benefit_id"].to_list()[1]]["person_id"].tolist()) for x in range(0, randint(20,50))]
list_of_asthma_population = [choice(benefits_table.loc[benefits_table["benefit_id"] == benefits_dim["benefit_id"].to_list()[2]]["person_id"].tolist()) for x in range(0, randint(50,60))]
list_of_none_population = [choice(benefits_table.loc[benefits_table["benefit_id"] == "None"]["person_id"].tolist()) for x in range(0, randint(20,50))]

In [188]:
random.seed(1)

diagnosis = [{"person_id":person, "diagnosis_id":diagnosis_dim.loc[diagnosis_dim["icd_code"] == icd_ptsd[choice(range(0,len(icd_ptsd)))]["icd_code"]]["diagnosis_id"].values[0]} for person in list_of_ptsd_population]+\
[{"person_id":person, "diagnosis_id":diagnosis_dim.loc[diagnosis_dim["icd_code"] == icd_panic[choice(range(0,len(icd_panic)))]["icd_code"]]["diagnosis_id"].values[0]} for person in list_of_panic_population]+\
[{"person_id":person, "diagnosis_id":diagnosis_dim.loc[diagnosis_dim["icd_code"] == icd_asthma[choice(range(0,len(icd_asthma)))]["icd_code"]]["diagnosis_id"].values[0]} for person in list_of_asthma_population]+\
[{"person_id":person, "diagnosis_id":diagnosis_dim.loc[choice(range(0,len(diagnosis_dim)))]["diagnosis_id"]} for person in list_of_none_population]

diagnosis_df = pd.DataFrame(diagnosis)
diagnosis_df.head(n=10)

    person_id  diagnosis_id
0  3213880348    1072016970
1  2828729447    5154431470
2  1602635893    7747525874
3  9844394925    5154431470
4   592307545    9559604349
5  5710055747    9559604349
6  6278166942    9559604349
7  8071846395    9559604349
8   592307545    1072016970
9  6515193184    5154431470

In [189]:
person_df.to_csv("demographics_table.csv", index=False)
benefits_table.to_csv("benefits_table.csv", index=False)
medication_df.to_csv("medication_table.csv", index=False)
diagnosis_df.to_csv("diagnosis_table.csv", index=False)

diagnosis_dim.to_csv("diagnosis_dim.csv", index=False)
medication_dim.to_csv("medication_dim.csv", index=False)
benefits_dim.to_csv("benefits_dim.csv", index=False)

In [175]:
merged_df = person_df.merge(benefits_df, how="left", on="person_id")
merged_df= merged_df.merge(medication_df, how="left", on="person_id")
merged_df = merged_df.merge(diagnosis_df, how="left", on="person_id")

KeyError: 'person_id'

## Gaussian Synthesizer

In [102]:
from sdv.metadata import SingleTableMetadata
metadata= {
    "columns": {
        "person_id": {
            "sdtype": "categorical"
        },
        "age": {
            "sdtype": "categorical"
        },
        "vasrd": {
            "sdtype": "categorical"
        },
        "drug": {
            "sdtype": "categorical"
        },
        "diagnosis": {
            "sdtype": "categorical"
        }
    },
    "METADATA_SPEC_VERSION": "SINGLE_TABLE_V1"
}
metadata_obj = SingleTableMetadata.load_from_dict(metadata)

In [155]:
from sdv.single_table import TVAESynthesizer

synthesizer = TVAESynthesizer(metadata_obj,epochs=500)
synthesizer.fit(merged_df)

synthetic_data = synthesizer.sample(num_rows=200)

In [156]:
synthetic_data

,person_id,age,vasrd,drug,diagnosis
0,7686347231,79,9411 Posttraumatic stress disorder,NaN,NaN
1,2155788657,23,9412 Panic disorder and/or agoraphobia,fluoxetine,F4001
2,1740462140,61,6602 Asthma,NaN,NaN
3,2155788657,73,6602 Asthma,fluoxetine,F4001
4,9313862409,41,9412 Panic disorder and/or agoraphobia,sertraline,NaN
...,...,...,...,...,...
195,7228541575,42,9412 Panic disorder and/or agoraphobia,fluoxetine,F4001
196,7791492802,79,9411 Posttraumatic stress disorder,NaN,NaN
197,8466690470,47,None,NaN,NaN
198,1233939245,34,9411 Posttraumatic stress disorder,NaN,F431
199,2155788657,23,6602 Asthma,fluoxetine,F4001

In [157]:
from sdv.evaluation.single_table import run_diagnostic, evaluate_quality
from sdv.evaluation.single_table import get_column_plot
real_data = merged_df
# 1. perform basic validity checks
diagnostic = run_diagnostic(real_data, synthetic_data, metadata_obj)

# 2. measure the statistical similarity
quality_report = evaluate_quality(real_data, synthetic_data, metadata_obj)

# 3. plot the data
fig = get_column_plot(
    real_data=real_data,
    synthetic_data=synthetic_data,
    metadata=metadata_obj,
    column_name='drug'
)

fig.show()

Generating report ...

(1/2) Evaluating Data Validity: |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 5/5 [00:00<00:00, 1054.80it/s]|
Data Validity Score: 100.0%

(2/2) Evaluating Data Structure: |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1/1 [00:00<00:00, 444.12it/s]|
Data Structure Score: 100.0%

Overall Score (Average): 100.0%

Generating report ...

(1/2) Evaluating Column Shapes: |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 5/5 [00:00<00:00, 908.45it/s]|
Column Shapes Score: 68.57%

(2/2) Evaluating Column Pair Trends: |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 19.79it/s]|
Column Pair Trends Score: 44.67%

Overall Score (Average): 56.62%

In [158]:
fig = get_column_plot(
    real_data=real_data,
    synthetic_data=synthetic_data,
    metadata=metadata_obj,
    column_name='age'
)
fig.show()

In [159]:
fig = get_column_plot(
    real_data=real_data,
    synthetic_data=synthetic_data,
    metadata=metadata_obj,
    column_name='vasrd'
)
fig.show()

In [160]:

fig = get_column_plot(
    real_data=merged_df,
    synthetic_data=synthetic_data,
    metadata=metadata_obj,
    column_name='diagnosis'
)

fig.show()

In [161]:
df = synthetic_data.merge(icd,right_on="icd_code",left_on="diagnosis")
df[["icd_code","long_title"]]

   icd_code                                   long_title
0     F4001              Agoraphobia with panic disorder
1     F4001              Agoraphobia with panic disorder
2     J4599                                 Other asthma
3     F4311        Post-traumatic stress disorder, acute
4    J45998                                 Other asthma
..      ...                                          ...
88    F4001              Agoraphobia with panic disorder
89    F4310  Post-traumatic stress disorder, unspecified
90    F4001              Agoraphobia with panic disorder
91     F431        Post-traumatic stress disorder (PTSD)
92    F4001              Agoraphobia with panic disorder

[93 rows x 2 columns]

In [162]:
df = synthetic_data
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print((df.groupby(['vasrd','diagnosis']).count() / df.groupby('vasrd').count())['person_id'])

vasrd                                   diagnosis
6602 Asthma                             F4001        0.061224
                                        F4002        0.040816
                                        J4590        0.183673
                                        J45901       0.020408
                                        J4599        0.081633
                                        J45998       0.408163
9411 Posttraumatic stress disorder      F431         0.041667
                                        F4310        0.020833
                                        F4311        0.250000
                                        F4312        0.041667
                                        J4599        0.020833
                                        h47032       0.020833
                                        m27          0.020833
                                        w2101xa      0.041667
9412 Panic disorder and/or agoraphobia  94120        0.019608
                                        F400         0.019608
                                        F4000        0.117647
                                        F4001        0.274510
                                        F4002        0.196078
                                        J4590        0.019608
                                        J45998       0.019608
                                        m1a459       0.019608
                                        s83014a      0.019608
None                                    F431         0.019231
                                        F4310        0.019231
                                        f18121       0.019231
                                        s31650d      0.019231
                                        v555xxa      0.038462
                                        v9223xs      0.019231
                                        w2101xa      0.019231
Name: person_id, dtype: float64

In [163]:
df = merged_df
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print((df.groupby(['vasrd','diagnosis']).count() / df.groupby('vasrd').count())['person_id'])

vasrd                                   diagnosis
6602 Asthma                             6825         0.007812
                                        J4590        0.171875
                                        J45901       0.148438
                                        J4599        0.187500
                                        J45998       0.250000
                                        a922         0.007812
                                        h59212       0.007812
                                        i69234       0.007812
                                        k051         0.015625
                                        m65132       0.007812
                                        s60446d      0.007812
                                        s61439a      0.007812
                                        s62115g      0.015625
                                        s72112f      0.015625
                                        s91254       0.007812
                                        t23501a      0.007812
                                        x999xxd      0.007812
                                        z9912        0.007812
9411 Posttraumatic stress disorder      45184        0.011236
                                        8240         0.011236
                                        F431         0.078652
                                        F4310        0.101124
                                        F4311        0.179775
                                        F4312        0.146067
                                        e0094        0.011236
                                        f3173        0.011236
                                        h47032       0.011236
                                        l7633        0.011236
                                        m27          0.011236
                                        m6243        0.011236
                                        m66132       0.011236
                                        m858         0.011236
                                        s21249a      0.011236
                                        s32614k      0.011236
                                        s43005d      0.022472
                                        s52252c      0.011236
                                        s60151       0.011236
                                        s79192g      0.011236
                                        s82233p      0.011236
                                        s83014a      0.011236
                                        s93505a      0.011236
                                        t2271        0.011236
                                        t704xxa      0.011236
                                        t8323xa      0.011236
                                        v9109xd      0.011236
                                        v9223xs      0.011236
                                        w2101xa      0.011236
9412 Panic disorder and/or agoraphobia  27652        0.010101
                                        42499        0.010101
                                        43850        0.010101
                                        94120        0.010101
                                        F400         0.121212
                                        F4000        0.202020
                                        F4001        0.191919
                                        F4002        0.202020
                                        e9472        0.010101
                                        h44532       0.020202
                                        i70519       0.010101
                                        m1a459       0.010101
                                        s52201a      0.010101
                                        s640         0.010101
                                        s91152d      0.010101
                                        v0290xa      0.010101
                                        v8651xd      0.010101
                                        v952         0.010101
                                        x30          0.010101
                                        x74          0.010101
None                                    2865         0.013333
                                        475          0.026667
                                        e918         0.013333
                                        f18121       0.013333
                                        h5014        0.013333
                                        i69034       0.013333
                                        m84569a      0.013333
                                        m90851       0.013333
                                        o169         0.026667
                                        o26829       0.013333
                                        s31650d      0.013333
                                        s52245e      0.013333
                                        s62112p      0.013333
                                        s6314        0.013333
                                        s83091d      0.013333
                                        s85001a      0.013333
                                        t466x5a      0.040000
                                        t563x2d      0.013333
                                        t81598       0.013333
                                        v1988xd      0.013333
                                        v555xxa      0.013333
                                        v753xxd      0.013333
                                        v9621xa      0.013333
                                        w03xxxd      0.013333
Name: person_id, dtype: float64

In [164]:
df = synthetic_data
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print((df.groupby(['vasrd','drug']).count() / df.groupby('vasrd').count())['person_id'])

vasrd                                   drug
6602 Asthma                             albuterol 0.083% neb soln                   0.040816
                                        fluoxetine                                  0.081633
                                        fluticasone propionate nasal                0.102041
                                        lorazepam                                   0.040816
                                        prednisone                                  0.367347
                                        salmeterol xinafoate diskus (50 mcg)        0.040816
                                        sertraline                                  0.020408
9411 Posttraumatic stress disorder      paroxetine                                  0.020833
                                        sertraline                                  0.354167
9412 Panic disorder and/or agoraphobia  fluoxetine                                  0.254902
                                        fluticasone propionate nasal                0.019608
                                        lorazepam                                   0.098039
                                        sertraline                                  0.235294
None                                    acetaminophen-caff-butalbital               0.019231
                                        acetylcysteine 20%                          0.019231
                                        bupropion xl (once daily)                   0.019231
                                        chlorhexidine gluconate 0.12% oral rinse    0.019231
                                        diltiazem                                   0.019231
                                        fluticasone propionate nasal                0.019231
                                        idarubicin                                  0.019231
                                        indomethacin                                0.038462
                                        paroxetine                                  0.076923
                                        potassium chl 40 meq / 1000 ml d5 1/2 ns    0.019231
                                        salmeterol xinafoate diskus (50 mcg)        0.057692
                                        sertraline                                  0.038462
                                        tiotropium bromide                          0.019231
Name: person_id, dtype: float64

In [166]:
df = merged_df
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print((df.groupby(['diagnosis','drug']).count() / df.groupby('diagnosis').count())['person_id'])

diagnosis  drug
2865       magnesium oxide                          1.000000
43850      lorazepam                                1.000000
475        dobutamine                               0.500000
           idarubicin                               0.500000
F400       fluoxetine                               0.333333
           lorazepam                                0.166667
           sertraline                               0.166667
F4000      fluoxetine                               0.300000
           lorazepam                                0.150000
           sertraline                               0.300000
F4001      fluoxetine                               0.210526
           lorazepam                                0.157895
           sertraline                               0.263158
F4002      fluoxetine                               0.150000
           lorazepam                                0.250000
           sertraline                               0.150000
F431       paroxetine                               0.285714
           sertraline                               0.285714
F4310      paroxetine                               0.333333
           sertraline                               0.444444
F4311      paroxetine                               0.062500
           sertraline                               0.437500
F4312      paroxetine                               0.076923
           sertraline                               0.076923
J4590      albuterol 0.083% neb soln                0.181818
           fluticasone propionate nasal             0.181818
           prednisone                               0.136364
           salmeterol xinafoate diskus (50 mcg)     0.136364
J45901     albuterol 0.083% neb soln                0.157895
           fluticasone propionate nasal             0.105263
           prednisone                               0.421053
           salmeterol xinafoate diskus (50 mcg)     0.052632
J4599      albuterol 0.083% neb soln                0.125000
           fluticasone propionate nasal             0.208333
           prednisone                               0.166667
           salmeterol xinafoate diskus (50 mcg)     0.166667
J45998     albuterol 0.083% neb soln                0.031250
           fluticasone propionate nasal             0.218750
           prednisone                               0.250000
           salmeterol xinafoate diskus (50 mcg)     0.218750
a922       prednisone                               1.000000
e0094      paroxetine                               1.000000
e9472      sertraline                               1.000000
f18121     acetaminophen-caff-butalbital            1.000000
h44532     fluoxetine                               0.500000
           lorazepam                                0.500000
h5014      erythromycin                             1.000000
h59212     prednisone                               1.000000
i69234     fluticasone propionate nasal             1.000000
k051       fluticasone propionate nasal             0.500000
           prednisone                               0.500000
l7633      sertraline                               1.000000
m1a459     lorazepam                                1.000000
m27        sertraline                               1.000000
m84569a    lidocaine 1%                             1.000000
m858       paroxetine                               1.000000
o169       dobutamine                               0.500000
           idarubicin                               0.500000
s43005d    paroxetine                               0.500000
           sertraline                               0.500000
s52201a    fluoxetine                               1.000000
s52252c    sertraline                               1.000000
s60151     paroxetine                               1.000000
s61439a    albuterol 0.083% neb soln                1.000000
s62115g    albuterol 0.083% neb soln                0.500000
           salmeterol xinafoate diskus (50 mcg)     0.500000
s72112f    fluticasone propionate nasal             0.500000
           prednisone                               0.500000
s83014a    sertraline                               1.000000
s83091d    glipizide xl                             1.000000
s91254     fluticasone propionate nasal             1.000000
t466x5a    calcitriol                               0.333333
           heparin dwell (1000 units/ml)            0.333333
           triamcinolone acetonide 0.1% ointment    0.333333
t563x2d    pantoprazole                             1.000000
t704xxa    sertraline                               1.000000
t8323xa    sertraline                               1.000000
v0290xa    sertraline                               1.000000
v1988xd    ciprofloxacin iv                         1.000000
v555xxa    bupropion xl (once daily)                1.000000
v753xxd    indomethacin                             1.000000
v8651xd    sertraline                               1.000000
w03xxxd    erythromycin                             1.000000
w2101xa    sertraline                               1.000000
x74        sertraline                               1.000000
x999xxd    prednisone                               1.000000
z9912      fluticasone propionate nasal             1.000000
Name: person_id, dtype: float64